/* Responsive Adjustments for screen width below 1024px and height below 600px */
@media (min-width: 1400px) {
    /* Hide progress bar by default */
      #responsiveProgressBar {
        display: none;
      }
    }
    
    @media screen and (max-width: 1400px) {
        .progress {
          height: 5px;
          background-color: #e9ecef;
        }
        
        .progress-bar {
          background-color: #65A50F;
          transition: width 0.2s;
        }  
    }
    